html, body {
    margin: 0 auto;
    width: 600px; 
    background: linear-gradient(#FFF1DE,#F7DCEC);
    font-family: 'Spinnaker', sans-serif;
}
#hero{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("images/back1.jpg");
    background-size: cover;
}
#heading{
    text-align: center;   
    color: #F1FAEE;      
    background: #9d4edd;
    padding: 4px 8px;
}
#ad{
    width: 300px;
    text-align: center;
    color: #F1FAEE;  
    background: #3c096c; 
    padding: 4px 8px;
}
#activity{
    display :flex;
    background: #9aa2fa;
    border-radius: 5px;
}
.cont{
    width: 200px;
    text-align: center;
    padding:  40px 15px 30px;    
}
.act{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
}
#garden{
    background-image: url("images/rock.jpg");
    background-size: cover;
}
#zoolake{
    background-image: url("images/sukhna.jpg");
    background-size: cover;
}#market{
    background-image: url("images/17market.png");
    background-size: cover;
}
#garden:hover{
    background-image: url("images/rose.jpg");
    background-size: cover;
}
#zoolake:hover{
    background-image: url("images/zoo1.jpg");
    background-size: cover;
}#market:hover{
    background-image: url("images/22market.jpg");
    background-size: cover;
}
#card{
    display:flex;
    width: 300px;
    height: 200px;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    background: #a2d2ff;
    border-bottom: 5px solid #219ebc;
    border-right: 5px solid #219ebc;
    border-radius: 10px;
    padding: 10px;
}
#avatar{
    width: 150px;
    height:170px;
    margin-right: 8px;
}
#link{
    color: black;
}